{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container post-list">
  <h3 class="title">{{ .Title }}</h3>
  {{ range $Tag,$Pages := .Site.Taxonomies.categories }}
  <h4 id="{{$Tag}}">{{$Tag}}</h4>
  {{range $Pages}}
  <ul class="post-list">

      {{ .Render "li"}}
    </ul>
  {{end}}
  {{ end }}


</section>
{{ end }}
