section.post-page {
  header {
    margin: 2rem 0;
  }

  .post-meta {
    h1 {
      font-size: 2.5rem;
    }
    ul.post-tags {
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      overflow-x: hidden;
      // overflow-
      flex-shrink: 1;

      li {
        margin: 0;
        list-style-type: none;

        a {
          padding: 0 5px;
          text-decoration: none;
          color: $gray-color;
          transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

          &:hover {
            color: white;
            background: $gray-color;
            border-radius: 5px;
          }
        }

      }
    }
  }

}
