article.post {
  margin: 3rem 0;
  .content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0.5rem;

    h2.post-title {
      font-size: 1.35em;
      color: $primary-color;
      letter-spacing: 1px;
    }

    .post-summary {
      font-size: 1em;
      color: rgba(0, 0, 0, .56);
      line-height: 1.5;
      max-height: 4.5em;
      margin-bottom: 0.3em;
      overflow: hidden;
    }

    .post-spacer {
      flex-grow: 1;
    }

    .post-content-footer {
      font-size: 1em;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    a.post-category {
      margin-bottom: 0.3em;
      margin-right: 1em;
      color: $primary-color;
      text-decoration: none;
      padding: 0 5px;
      transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
      &:hover {
        color: white;
        background:  $primary-color;
        border-radius: 5px;
      }
    }
    time {
      margin-bottom: 0.3em;
      flex-shrink: 0;
    }
    img.post-cover {
      padding: 0 0.5rem;
      object-fit: cover;
      height: 90%;
      width: auto;
    }
    img.post-cover-full {
      width: 100%;
      height: 180px;
      object-fit: cover;
      margin-bottom: 0.3em;
    }
    ul.post-tags {
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      overflow-x: hidden;
      // overflow-
      flex-shrink: 1;
      li {
        margin: 0;
        list-style-type: none;
        a {
          padding:0 5px;
          text-decoration: none;
          color: $gray-color;
          transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
          &:hover {
            color: white;
            background: $gray-color;
            border-radius: 5px;
          }
        }

      }
    }
  }
}
