section.post-list {
  h4 {
    margin-top: 2rem;
  }
}

ul.post-list {
  margin: 0.6em 0em;

  li {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    align-items: baseline;

    a {
      font-weight: 400;

      &:visited {
        color: $gray-color;
      }
    }

    &:hover {

      .post-category,
      .post-tags {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .post-tags {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    margin: 0;

    li {
      color: $gray-color;
      margin: 0 0.2em;
    }
  }

  .post-category {
    display: none;
    position: absolute;
    left: -21%;
    color: $gray-color;
    text-align: right;
  }

  .post-date {
    flex-shrink: 0;
  }

  .hide {
    visibility: hidden;
    opacity: 0;
  }
}
