pre.chroma {
  padding: 0.5em;

  code {

    background: inherit !important;
    color: inherit !important;
    font-size: inherit !important;
    font-family: inconsolata, Menlo, Monaco, courier new, monospace;
  }
}
