<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">{{ end }}
  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.keywords }}
  <meta name="keywords" content="{{ . }}">{{ end }}
  <base href="{{ .Site.BaseURL }}">

  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.7/dist/spectre.min.css" integrity="sha256-ZB4TBfXbS0JRqF62FZ7NB7gD4TiSQ5II4TED2UVWKHE="
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.7/dist/spectre-exp.min.css" integrity="sha256-VELEsDqh7L9nO/i8+1+BhWCLh1lStj0redEwqZbfJ3w="
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.7/dist/spectre-icons.min.css" integrity="sha256-t4QfEPgeMS2uWprtY+0qYjQkLcRRtblG/c22ywem3dk="
    crossorigin="anonymous">

  {{ if .Site.IsServer }}
  {{ $cssOpts := (dict "targetPath" "css/index.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "scss/index.scss" | resources.ExecuteAsTemplate "style.index.css" . | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
  {{ else }}
  {{ $cssOpts := (dict "targetPath" "css/index.css" ) }}
  {{ $styles := resources.Get "scss/index.scss" | resources.ExecuteAsTemplate "style.index.css" . | toCSS $cssOpts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous"
    media="screen" />
  {{ end }}

  {{ $cssOpts := (dict "targetPath" "css/syntax.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "syntax.css" | resources.ExecuteAsTemplate "style.syntax.css" . | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  <!--
    {{ if .Site.Params.rtl }}
      {{ if .Site.IsServer }}
        {{ $cssOpts := (dict "targetPath" "css/coder-rtl.css" "enableSourceMap" true ) }}
        {{ $styles := resources.Get "scss/coder-rtl.scss" | resources.ExecuteAsTemplate "style.coder-rtl.css" . | toCSS $cssOpts }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
      {{ else }}
        {{ $cssOpts := (dict "targetPath" "css/coder-rtl.css" ) }}
        {{ $styles := resources.Get "scss/coder-rtl.scss" | resources.ExecuteAsTemplate "style.coder-rtl.css" . | toCSS $cssOpts | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
      {{ end }}
    {{ end }}

    {{ if .Site.Params.inverted }}
      {{ if .Site.IsServer }}
        {{ $cssOpts := (dict "targetPath" "css/coder-inverted.css" "enableSourceMap" true ) }}
        {{ $styles := resources.Get "scss/coder-inverted.scss" | resources.ExecuteAsTemplate "style.coder-inverted.css" . | toCSS $cssOpts }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
      {{ else }}
        {{ $cssOpts := (dict "targetPath" "css/coder-inverted.css" ) }}
        {{ $styles := resources.Get "scss/coder-inverted.scss" | resources.ExecuteAsTemplate "style.coder-inverted.css" . | toCSS $cssOpts | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
      {{ end }}
    {{ end }}

    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ . | absURL }}">
    {{ end }}

    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_32 | default "/images/favicon-32x32.png" | absURL }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_16 | default "/images/favicon-16x16.png" | absURL }}" sizes="16x16"> -->

  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}

  {{ .Hugo.Generator }}
</head>

<body>
  <main class="wrapper">
    {{ partial "header.html" . }}

    <div class="container grid-md">
      {{ block "content" . }}{{ end }}
    </div>

    {{ partial "footer.html" . }}
  </main>

  <!-- {{ template "_internal/google_analytics.html" . }} -->

</body>

</html>
