{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container post-list">
  <h3 class="title">{{ .Title }}</h3>
  {{ range $Tag,$Pages := .Site.Taxonomies.tags }}
  <h4 id="{{$Tag}}">{{$Tag}}</h4>
  {{range $Pages}}
  <ul class="post-list">

    <li>
      <h6><a class="text-dark" href="{{ .URL }}">{{ .Title }}</a></h6>
      <div style="flex-grow:1"></div>
      <span class="post-date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
    </li>

  </ul>
  {{end}}
  {{ end }}


</section>
{{ end }}
