<li>
  <span class="post-category hide-lg hide">{{.Params.Categories}}</span>
  <h6><a class="text-dark" href="{{ .URL }}">{{ .Title }}</a></h6>
  <ul class="post-tags hide-md hide">
    {{ range .Params.tags }}
    <li>#{{.}}</li>
    {{ end }}
    </ul>
    <div style="flex-grow:1"></div>
  <span class="post-date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
</li>
