{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post-list">
    <h3 class="title">{{ .Title }}</h3>
      {{ range .Pages.GroupByDate "2006" }}
      <h4>{{.Key}}</h4>
      {{range .Pages}}
    <ul class="post-list">

      {{ .Render "li"}}
    </ul>
      {{end}}
      {{ end }}


  </section>
{{ end }}
