{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container post-page">
  <header class="columns">
    <div class="column col-12 post-meta">
      {{if (isset .Params "categories") and (gt (len .Params.categories) 0) }}
      <a class="post-category" href="/categories/#{{index .Params.categories 0}}">{{index .Params.categories 0}}</a>
      {{end}}
      <h1 class="post-title">{{ .Title}}</h1>
      <ul class="post-tags">
        {{ range .Params.tags }}
        <li><a href="/tags/#{{.}}">#{{.}}</a></li>
        {{ end }}
      </ul>
    </div>
    <!-- {{if isset .Params "cover"}}
    <div class="column col-4 hide-sm">
      <img src="{{.Params.cover}}" class="post-cover" />
    </div>
    {{ end }} -->
  </header>
  <div>
      {{ .Content }}
    </div>
  <!-- <article>
      <header>
        <div class="post-title">
          <h1 class="title">{{ .Title }}</h1>
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fas fa-calendar"></i>
              <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            <span class="reading-time">
              <i class="fas fa-clock"></i>
              {{ i18n "readingTime" .ReadingTime }}
            </span>
          </div>
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories" . }}{{ end }}
          {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags" . }}{{ end }}
        </div>
      </header>

      <div>
        {{ .Content }}
      </div>

      <footer>
        {{ partial "posts/disqus" . }}
      </footer>
    </article>

    {{ partial "posts/math" . }} -->
    <!-- <footer>
        {{ partial "livere" . }}
      </footer> -->
</section>
{{ end }}
