<article class="post columns">

  <div class="column">

    <div class="content">
      {{if isset .Params "cover"}}

      <img src="{{.Params.cover}}" class="show-sm post-cover-full" />

      {{ end }}
      <h2 class="post-title"><a href="{{ .URL }}">{{ .Title }}</a></h2>
      <div class="post-summary">{{ .Summary }}</div>
      <div class="post-spacer"></div>
      <div class="post-content-footer">
        {{if (isset .Params "categories") and (gt (len .Params.categories) 0) }}
        <a class="post-category" href="/categories/#{{index .Params.categories 0}}">{{index .Params.categories 0}}</a>
        {{end}}
        <time>
          {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
        </time>

        <div class="post-spacer"></div>
        <ul class="post-tags">
          {{ range .Params.tags }}
          <li><a href="/tags/#{{.}}">#{{.}}</a></li>
          {{ end }}

        </ul>
      </div>
    </div>
  </div>
  {{if isset .Params "cover"}}
  <div class="column col-3 hide-sm">
    <img src="{{.Params.cover}}" class="post-cover" />
  </div>
  {{ end }}
</article>

<!-- <article>
  <header>
    <div class="article-title">
        <h1 class="title">{{ .Title }}</h1>
    </div>
    <div class="article-meta">
        <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
            {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
          </time>
    </div>
  </header>
  <div>
    {{ .Truncated }}
  </div>

</article> -->
