<nav class="container grid-lg" style="padding: 1rem .5rem;">
    <header class="navbar py-3 ">
      <section class="navbar-section">
        <a href="/posts" class="btn btn-link">文章</a>
        <a href="/categories" class="btn btn-link">分类</a>
        <a href="/tags" class="btn btn-link">标签</a>
      </section>
      <section class="navbar-center">
        <span><a href="/">IDX0</a></span>
      </section>
      <section class="navbar-section">
        <a href="https://github.com/heymind" class="btn btn-link">GitHub</a>
      </section>
    </header>
  </nav>
<!-- <nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="{{ .Site.BaseURL | absLangURL }}">
      {{ .Site.Title }}
    </a>
    <input type="checkbox" id="menu-toggle" />
    <label class="menu-button float-right" for="menu-toggle"><i class="fas fa-bars"></i></label>
    <ul class="navigation-list">
      {{ with .Site.Menus.main}}
        {{ range sort . }}
          <li class="navigation-item">
            <a class="navigation-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
      {{ if .Site.IsMultiLingual }}
        {{ $node := . }}
        {{ .Scratch.Set "separator" true }}
        {{ range .Site.Home.AllTranslations }}
          {{ if ne $.Site.Language .Language }}
            {{ if $node.Scratch.Get "separator" }}
              <li class="navigation-item menu-separator">
                <span>|</span>
              </li>
              {{ $node.Scratch.Set "separator" false }}
            {{ end }}
            <li class="navigation-item">
              <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </section>
</nav> -->
